#region1:hover{
  opacity: 0.5;
}
#region2:hover{
  opacity: 0.5;
}
#region3:hover{
  opacity: 0.5;
}
#region4:hover{
  opacity: 0.5;
}
#region5:hover{
  opacity: 0.5;
}
#region6:hover{
  opacity: 0.5;
}
#region7:hover{
  opacity: 0.5;
}
#region8:hover{
  opacity: 0.5;
}
